################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MakeYourDataSafe Client/.vs/MakeYourDataSafe Client/v15
.vs/
bin/